.box{
	background-color: #f0f0f0;
	border-radius: 7px;
	width: 550px;
	height: 260px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	margin-top: 36px;
}
.text_con{
	text-align: center;
}
.value{
	width: 100%;
	font-size: 14px;
	color: #8b8b8b;
}
.good{
	color: green;
}
.ordinary{
	color: #3030f0;
}
.bed{
	color: red;
}
.date{
	font-size: 13px;
	color: #787878;
}
.buttonBox{
	text-align: center;
}